<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" fxLayoutGap="10px" style="padding: 10px;">
  <mat-card ngStyle.gt-xs="width: 85vmin; height: 85vmin; max-width: 60vw; max-height: 60vw;"
            ngStyle.lt-sm="width: 100%; height: 100%; max-height: 100vw">
    <div fxFlex id="canvas_container" ngStyle.gt-xs="height: 100%; width: 100%;"></div>
  </mat-card>
  <div fxFlex.gt-sm="30" fxFlex.sm="40">
    <mat-card style="max-height: available">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <div>Controls</div>
        <button mat-icon-button (click)="showHelpDialog()" matTooltip="Learn more about this page"
                matTooltipPosition="left">
          <mat-icon>help</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field>
            <input matInput [(ngModel)]="dimensions" (change)="reset()" type="number" placeholder="Dimensions" min="2"
                   max="12" matTooltip="Change number of dimensions">
          </mat-form-field>
          <div>
            <button mat-icon-button (click)="reversed=!reversed" matTooltip="Toggle rotation direction"
                    matTooltipPosition="left">
              <mat-icon *ngIf="!reversed">fast_rewind</mat-icon>
              <mat-icon *ngIf="reversed">fast_forward</mat-icon>
            </button>
            <button mat-icon-button (click)="animate=!animate" matTooltip="{{!animate ? 'Start' : 'Stop'}} animation"
                    matTooltipPosition="left">
              <mat-icon *ngIf="!animate">play_arrow</mat-icon>
              <mat-icon *ngIf="animate">pause</mat-icon>
            </button>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-label fxFlex="30">Velocity:</mat-label>
          <mat-slider fxFlex="70" [(ngModel)]="velocityMult" (input)="velocityMult=$event.value" min="0" max="2"
                      step="0.1" matTooltip="Master velocity control" thumbLabel></mat-slider>
        </div>
        <div *ngFor="let rot of rotations">
          <mat-expansion-panel>
            <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="space-around center">
              <mat-slide-toggle fxFlex [(ngModel)]="rot.active" (change)="redraw();" (click)="$event.stopPropagation()"
                                matTooltip="{{rot.active ? 'Stop' : 'Start'}} plane rotation" matTooltipPosition="left">
                Rotate
                {{rot.basis1}}-{{rot.basis2}}?
              </mat-slide-toggle>
              <mat-label fxFlex align="end" style="padding-right: 10px; color: rgba(0,0,0,0.54)">
                {{toDegrees(rot.angle).toFixed(0)}}&deg;
              </mat-label>
            </mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <label fxFlex="30">Angle:</label>
              <mat-slider fxFlex="70" [(ngModel)]="rot.angle" (input)="rot.angle=$event.value;redraw();"
                          min="0" max="6.28" step="0.01" matTooltip="Manually adjust angle"></mat-slider>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <label fxFlex="30">Velocity:</label>
              <mat-slider fxFlex="70" [(ngModel)]="rot.velocity" (input)="rot.velocity=$event.value;redraw();"
                          min="0.01" max="6.28" step="0.01" matTooltip="Adjust rotation speed"></mat-slider>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
