<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <a align="start" style="text-decoration: none; color: white;" href="https://aaronjenson.github.io/Projection/">Projections</a>
  <a align="end" href="https://github.com/aaronjenson/Projection"><img style="max-height: 48px"
                                                                       src="assets/GitHub_Logo_White.png"></a>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center start">
  <app-svg></app-svg>
</div>
